version: '3.9'

services:
  gateway:
    image: threedotslabs/event-driven-gateway-v2:latest
    pull_policy: always
    ports:
      - "8888:8080"
    environment:
      SOLUTION_BASE_URL: "http://host.docker.internal:8080/"

    # this allows webhooks from Gateway to call your solution on Linux
    extra_hosts:
      - "host.docker.internal:host-gateway"

  redis:
    image: redis:6.2-alpine
    ports:
      - "6379:6379"

  postgres:
    image: postgres:17.6-alpine3.22
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
    ports:
      - "5432:5432"

  prometheus:
    image: prom/prometheus:v2.53.5
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - 9090:9090
    restart: unless-stopped
    volumes:
      - ./docker/prometheus:/etc/prometheus
      - prom_data:/prometheus
    extra_hosts:
      - "host.docker.internal:host-gateway"

  grafana:
    image: grafana/grafana:10.4.19
    container_name: grafana
    ports:
      - 3000:3000
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./docker/grafana:/etc/grafana/provisioning/datasources

volumes:
  prom_data:
